fastapi
uvicorn
gunicorn
pymongo
motor
httpx
pydantic
pydantic-settings
python-dotenv
langchain
langchain-core
langchain-openai
langchain-community
python-telegram-bot
pytz
apscheduler
python-multipart
certifi
requests
google-auth
google-auth-oauthlib
google-api-python-client
